<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="perfil.component.css">
    <title>Perfil</title>
</head>
<body>
    <div>
        <h2>Perfil</h2>
        <div class="informacion"> 
            <span class="text">Nombre:</span>
            <span class="text">Apellido:</span> 
            <span class="text">Identificación:</span>
            <span class="text">Teléfono:</span> 
            <span class="text">E-mail:</span>
            <span class="text">Rol:</span>
            <form class="radio">
                <p class="text-radio">
                    Disponibilidad:<br>
                    <input type="radio" name="Si" value="Si"> Si<br>
                    <input type="radio" name="No" value="No"> No<br>
                </p>
            </form>
            
        </div>
        <div class="div-button">
            <input type="submit" class="button" value="Editar">
            <input type="submit" class="button" value="Guardar">
        </div>
        
    </div>

</body>
</html>