<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="nuevo-partido.component.css">
</head>
<body>
    

    <form>
        <h2>Nuevo partido</h2>
        <div class="agregar">
            <span class="text">Equipo 1:</span>
            <a class="button-agregar" href="pages/jugadores-disponibles/jugadores-disponibles.html">Agregar jugador</a>  
        </div>

        <div class="agregar">
            <span class="text">Equipo 2:</span>
            <a class="button-agregar" href="pages/jugadores-disponibles/jugadores-disponibles.html">Agregar jugador</a> 
            
        </div>

        <div class="agregar">
            <span class="text">Árbitro:</span>
            <a  class="button-agregar" href="pages/jugadores-disponibles/jugadores-disponibles.html">Agregar árbitro</a>  
        </div>

        <input type="date" placeholder="Fecha:">
        <input type="datetime" placeholder="Hora:">
        <input type="text" placeholder="Lugar:">
        <input type="text" placeholder="Apuesta:">

        <input type="submit" class="button" value="Guardar">
    </form>


</body>
</html>
