<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    
</head>
<body>


<nav *ngIf="isVisible">
  <ul>
    <li>
      <a routerLink="/login" routerLinkActive="active">login</a>
      <a routerLink="/registro_jugador" routerLinkActive="active">Jugador</a>
      <a routerLink="/registro_arbitro" routerLinkActive="active">Árbitro</a>
      <a routerLink="/partido" routerLinkActive="active">partido</a>
      <a routerLink="/equipo" routerLinkActive="active">equipo</a>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>
</body>
</html>