<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>

    <form>
        <h2>Registro</h2>
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Estado">

        <h3>Selecciona Jugadores</h3>
        <select multiple>
            <option value="jugador1">Jugador 1</option>
            <option value="jugador2">Jugador 2</option>
            <option value="jugador3">Jugador 3</option>
            <option value="jugador4">Jugador 4</option>
            <option value="jugador5">Jugador 5</option>
        </select>

        <br>
        <input type="submit" class="button" value="Guardar">
    </form>

</body>

</html>